{% load static %}
{% load socialaccount %}
<footer>
    <div class="footer w-screen bg-[#321f0f] pt-3">
        <div class="label text-orange-300 text-center">
            Made with love <span class="text-red-500">❤</span> by <a href="https://edcnitd.co.in/web_team/" class="">WebD team</a>
        </div>
        <div class="contact text-center text-orange-300 py-1 font-light text-sm">
            <b>Rishav :</b> +91 7439497568 |
            <b>Anshu :</b> +91 9007123507
        </div>
    </div>
</footer>