{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Hunt | Leaderboard</title>
    <link rel="shortcut icon" href="{% static 'base/images/favicon.ico' %}" type="image/x-icon" id="faviconTag">
    <!-- Google font files -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    
</body>
</html>
<!-- <link rel="stylesheet" href="{% static 'game/css/profile.css' %}"> -->


<section class="min-h-screen bg-gradient-to-br from-zinc-900 to-blue-900 w-full grid place-items-start">
    <div class="grid place-items-center pt-16 w-full">
        <div class="rounded-md w-full max-w-5xl flex flex-col justify-center px-3">
            <div class="grid place-items-end py-4 rounded px-3 bg-center bg-cover bg-no-repeat origin-bottom w-full min-h-[100px] max-w-xl lg:max-w-xl mx-auto" style="background-image: linear-gradient(135deg, rgba(174, 23, 249, 0.604), rgba(0, 4, 22, 0.895)),">
                <div class="flex flex-row w-full justify-between align-bottom">
                        <h2 class="text-xl lg:text-4xl font-bold uppercase h-fit text-right">Leaderboard</h2>
                </div>
            </div>
            <div class="w-full mx-auto flex flex-row align-middle justify-center py-3">
                <div class="w-fit  max-w-5xl mx-auto h-fit flex flex-row align-middle justify-center gap-3">
                    <input type="search" name="key" id="key" class="bg-transparent border-white border-2 px-3 py-1 rounded-md w-[80vw] max-w-lg mx-auto text-zinc-50" onkeyup="searchPage()">
                <button class="w-fit h-full my-auto" onclick="searchPage()">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#fff" class="w-6 h-6 my-auto">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                      </svg>
                      
                </button>
                </div>
                
            </div>
            {% if gamers %}
                <div class="flex flex-col gap-3">
                    {% for gamer in gamers %}
                    <ul class="w-full bg-gradient-to-bl from-indigo-500 to-purple-400 rounded grid grid-cols-3 px-3 py-1 lg:py-2 max-w-xl mx-auto border-2 border-white">
                        <li class="text-center flex flex-row">
                            <h1 class="my-auto text-xl lg:text-3xl font-bold">
                                {{forloop.counter}}
                            </h1>
                            
                        </li>
                        <li class="text-right text-base lg:text-xl font-bold my-auto flex flex-row align-middle justify-center gap-3">
                            <h2 class="whitespace-nowrap my-auto searchable">{{gamer.user.first_name}}&nbsp;{{gamer.user.last_name}}</h2>
                            <img src="{{gamer.profile_img}}" alt="" class="w-12 h-12 rounded-full">
                        </li>
                        <li class="text-right text-xl lg:text-3xl font-bold my-auto">{{gamer.get_total_points}}</li>
                    </ul>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
    
</section>
<script src="{% static 'qr/js/search.js' %}"></script>