{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Hunt | Profile</title>
    <link rel="shortcut icon" href="{% static 'base/images/favicon.ico' %}" type="image/x-icon" id="faviconTag">
    <!-- Google font files -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body class="bg-[#282319] font-Laila">
    {% include 'qr/navbar.html' %}    
    {% include 'qr/toaster.html' %}    
    <section>
        <div class="w-full text-orange-300 pt-24">
            <div class="rounded-md w-full max-w-5xl flex flex-col justify-center px-4 mx-auto">
                <div class="py-4 rounded w-full">
                    <div class="flex flex-row w-full justify-between align-bottom">
                        <img src="{{profile.picture}}" alt="google profile image" class="w-24 h-24 md:w-24 md:h-24 rounded-full border-2 border-orange-300 relative bottom-0">
                        <li class="list-none flex justify-end flex-col text-right">
                            <h2 class="text-2xl md:text-4xl font-bold uppercase h-fit">{{ profile.name }}</h2>
                            <h3 class="text-sm md:text-base lowercase h-fit  opacity-60">{{ profile.email }}</h3>
                            <h3 class="text-sm md:text-base lowercase h-fit  opacity-60">{{ profile.mobile }}</h3>
                            <h3 class="text-sm md:text-base uppercase h-fit  opacity-60">{{ profile.registration }}</h3>
                        </li>
                    </div>
                </div>
    
                <!-- POINTS AND RANK -->
    
                <div class="flex justify-between py-4 border-y-2 border-current">
                    <div class="text-left">
                        <h1 class="text-xl md:text-2xl h-fit" >Points Scored</h1>
                        <h1 class="py-3 text-6xl font-black text-transparent h-fit" style = "-webkit-text-stroke: #fdba74 3px;">{{profile.points}}</h1>
                    </div>
                    <div class="text-right">
                        <h1 class="text-xl md:text-2xl h-fit">Your Rank</h1>
                        <h1 class="py-3 text-6xl font-black text-transparent uppercase h-fit" style = "-webkit-text-stroke: #fdba74 3px;">{{rank}}</h1>
                    </div>
                </div>
                <div class="col-span-2 py-3 flex flex-wrap justify-between gap-3">
                    <a href="/qr" class="font-bold uppercase bg-yellow-800 px-2 text-sm py-1 rounded">Home</a>
                    <a href="/qr/result" class="font-bold uppercase bg-yellow-800 px-2 text-sm py-1 rounded">Leaderboard</a>
                    <a href="/qr/scanner" class="font-bold uppercase bg-yellow-800 px-2 text-sm py-1 rounded">Scan</a>
                </div>
                <div class="my-12">
                    <h2 class="w-fit text-4xl text-center mx-auto border-b-2 border-current">Your Collections</h2>
                    <div class="grid grid-cols-6 grid-rows-5 gap-x-2 md:gap-x-6 gap-y-5 py-10 justify-center items-center">
                        {% for tier in collection %}
                        <div style=" grid-column-start: 1 ;grid-row-start: {{ forloop.counter }} ;">
                            Tier {{ forloop.counter}}
                        </div>
                        {% for number in tier %}
                        {% if number == 0 %}
                        <div style=" grid-column-start: {{ forloop.counter|add:1 }} ;grid-row-start: {{ forloop.parentloop.counter }} ; opacity: 0.3; filter: grayscale(.5) blur(2px);" class="relative">
                            <img src="{% static 'qr/images/card.png' %}" alt="">
                            {% comment %} <div class="absolute top-0 left-0 -translate-x-1/2 -translate-y-1/2 rounded-full bg-black size-6 text-center">
                                {{number}}
                            </div> {% endcomment %}
                        </div>
                        {% else %}
                        <div style=" grid-column-start: {{ forloop.counter|add:1 }} ;grid-row-start: {{ forloop.parentloop.counter }} ;" class="relative hover:scale-110 duration-200">
                            <img src="{% static 'qr/images/card.png' %}" alt="">
                            <div class="absolute top-0 left-0 -translate-x-1/2 -translate-y-1/2 rounded-full bg-black size-6 text-center">
                                {{number}}
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                        {% endfor %}
                    </div>                  
                </div>
            </div>
        </div>
    </section>
</body>
<script src="{% static 'gamers/js/clipboard.js' %}"></script>
</html>