#scan-reader {
    width: 80vw !important;
    max-width: 500px !important;
    margin: 0 auto;
}
#scan-reader__scan-region img{
    margin: 0 auto !important;
}
#html5-qrcode-anchor-scan-type-change{
    display: none !important;
}

.html5-qrcode-element{
    text-transform: uppercase !important;
    background-color: transparent !important;
}
#html5-qrcode-input-range-zoom{
    background: transparent !important;
}
#scan-reader__dashboard button{
    /* background-color: rgb(24, 24, 27) !important; */
    background-image: linear-gradient(90deg,#60a5fa,#a855f7) !important;
    border-radius: 4px !important;
    font-weight: 800 !important;
    padding: 8px 12px !important;

}