{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDC | {% block title %} {% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'base/images/favicon.ico' %}" type="image/x-icon" id="faviconTag">
    <!-- Google font files -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <!-- Swiper css -->
    
    <!-- CSS files -->
    <link rel="stylesheet" href="{% static 'base/css/tailwind.css' %}">
    {% block head %}
    {% endblock %}
</head>
<body class="font-Laila overflow-x-hidden w-screen bg-[#282319]">
{% include 'snippets/navbar.html' %}
{% block content %}
{% endblock %}
</body>
{% block script %}
    
{% endblock %}
    
</html>