{% extends 'base.html' %}
{% load socialaccount %}
{% load static %}
{% block title %}
Esummit 2024
{% endblock %}
{% block head %}
  <!-- CSS files -->
  <!-- <link rel="stylesheet" href="{% static 'base/css/home.css' %}"> -->
  <link rel="stylesheet" href="{% static 'base/css/home.css' %}" />
{% endblock %}
{% block content %}
  <main>
    <section class="hero-section w-full h-screen gradient overflow-hidden" id="hero">
      <div class="layer title absolute w-full h-full origin-center" data-depth='-0.7' data-scale='.5'>
        <div class="content mx-auto top-1/4 relative w-1/2">
          <img src="{% static 'base/images/logowhite.png' %}" alt="" srcset="">
        </div>
      </div>
      <div class="layer layer1 absolute w-full h-full origin-bottom" data-depth='-0.3' data-scale='1'>
        <img src="{% static 'base/images/curve1.png' %}" alt="" class="size-full" />
      </div>
      <div class="layer layer2 absolute w-full h-full origin-bottom" data-depth='-0.2' data-scale='1.2'>
        <img src="{% static 'base/images/light1.png' %}" alt="" class="size-full" />
      </div>
      <div class="layer layer3 absolute w-full h-full origin-bottom" data-depth='-0.01' data-scale='1.5'>
        <img src="{% static 'base/images/dark1.png' %}" alt="" class="size-full" />
      </div>
      <div class="layer layer4 absolute w-full h-full " data-depth='0.20' data-scale='1'></div>
      <div class="layer layer5 absolute w-full h-full" data-depth='0.20' data-scale='1'></div>
    </section>
    <section class="about-section h-screen bg-[#282319] relative z-10">
      
    </section>
    <section class="events-section"></section>
    <section class="speakers-section"></section>
    <section class="merch-section"></section>
    <section class="pass-section"></section>
  </main>
{% endblock %}
{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollToPlugin.min.js"></script>
<script src="{% static 'base/js/home.js' %}"></script>
{% endblock %}