{% extends 'base.html' %}
{% load socialaccount %}
{% load static %}
{% block title %}
Esummit 2024
{% endblock %}
{% block head %}
<!-- CSS files -->
<!-- <link rel="stylesheet" href="{% static 'base/css/home.css' %}"> -->
<link rel="stylesheet" href="{% static 'base/css/home.css' %}">
{% endblock %}
{% block content %}
<main>
    <section class="hero-section bg-grey-700 h-8"></section>
    <section class="about-section"></section>
  <section class="events-section w-full overflow-x-hidden">
    <h2 class="text-center md:text-5xl sm:text-4xl text-3xl font-[500] mb-4 ">Esummit's Event</h2>
    <div class="container grid md:grid-cols-3 md:gap-x-6 md:gap-y-6 sm:grid-cols-2 sm:gap-x-5 sm:gap-y-6 grid-cols-1 gap-y-4  w-[90%] mx-auto overflow-x-hidden ">
      <div class="card p-auto bg-[#232829] rounded-xl p-2 pb-16">
        <div class="card-animation h-[40vh] "> 
            <dotlottie-player src="https://lottie.host/005f667c-1121-41d7-bc37-83d8764be19c/t4JUhClKiv.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></dotlottie-player> </div>
        <div class="intro text-white p-2 text-center">
          <span>
            <h2 class="text-center md:text-3xl text-2xl mb-2 font-[400]"> 
              Event Name </h2></span>
            <p>Take the opportunity to explore the diverse design domains in our club and cultivate your aesthetics, access resources, and expand your portfolio.</p>
            <button style="display: inline-block" class="inherit text-center items-center rounded-full whitespace-nowrap m-4 md:text-[18px] bg-blue-700 md:pr-5 md:py-2 text-[14px] px-3 py-1 outline-none duration-200 hover:bg-blue-400">
                Register Now </button>
        </div>
      </div>
      <div class="card p-auto bg-[#232829] rounded-xl p-2 pb-16">
        <div class="card-animation h-[40vh]"> 
          <dotlottie-player src="https://lottie.host/896aba05-bb4c-473e-9ca3-d9846f45a6cd/nfK3H64fXe.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></dotlottie-player>
        </div>
        <div class="intro text-white p-2 text-center">
          <span>
            <h2 class="text-center md:text-3xl text-2xl mb-2 font-[400]"> 
              Event Name </h2></span>
            <p>Take the opportunity to explore the diverse design domains in our club and cultivate your aesthetics, access resources, and expand your portfolio.</p>
            <button style="display: inline-block" class="inherit text-center items-center rounded-full whitespace-nowrap m-4 md:text-[18px] bg-blue-700 md:pr-5 md:py-2 text-[14px] px-3 py-1 outline-none duration-200 hover:bg-blue-400">
                Register Now </button>
        </div>
      </div>
      <div class="card p-auto bg-[#232829] rounded-xl p-2 pb-16">
        <div class="card-animation h-[40vh]"> 
          <dotlottie-player src="https://lottie.host/75f57555-3bcd-413d-b1b4-1c0df95d8112/qaFWY8GsbM.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></dotlottie-player>  </div>
        <div class="intro text-white p-2 text-center">
          <span>
            <h2 class="text-center md:text-3xl text-2xl mb-2 font-[400]"> 
              Event Name </h2></span>
            <p>Take the opportunity to explore the diverse design domains in our club and cultivate your aesthetics, access resources, and expand your portfolio.</p>
            <button style="display: inline-block" class="inherit text-center items-center rounded-full whitespace-nowrap m-4 md:text-[18px] bg-blue-700 md:pr-5 md:py-2 text-[14px] px-3 py-1 outline-none duration-200 hover:bg-blue-400">
                Register Now </button>
        </div>
      </div>
       <div class="card p-auto bg-[#232829] rounded-xl p-2 pb-16">
        <div class="card-animation h-[40vh]"> 
          <dotlottie-player src="https://lottie.host/d3262450-440b-47e3-9305-da3823e17a8f/CwhfxO3Tvj.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></dotlottie-player> </div>
          <div class="intro text-white p-2 text-center">
          <span>
            <h2 class="text-center md:text-3xl text-2xl mb-2 font-[400]"> 
              Event Name </h2></span>
            <p>Take the opportunity to explore the diverse design domains in our club and cultivate your aesthetics, access resources, and expand your portfolio.</p>
            <button style="display: inline-block" class="inherit text-center items-center rounded-full whitespace-nowrap m-4 md:text-[18px] bg-blue-700 md:pr-5 md:py-2 text-[14px] px-3 py-1 outline-none duration-200 hover:bg-blue-400">
                Register Now </button>
        </div>
      </div>
      <div class="card p-auto bg-[#232829] rounded-xl p-2 pb-16">
        <div class="card-animation h-[40vh]">
          
    <dotlottie-player src="https://lottie.host/170268a0-eba3-4a76-a96d-799ed5c6afb4/F3wjGrNLgv.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></dotlottie-player> </div>
        <div class="intro text-white p-2 text-center">
          <span>
            <h2 class="text-center md:text-3xl text-2xl mb-2 font-[400]"> 
              Event Name </h2></span>
            <p>Take the opportunity to explore the diverse design domains in our club and cultivate your aesthetics, access resources, and expand your portfolio.</p>
            <button style="display: inline-block" class="inherit text-center items-center rounded-full whitespace-nowrap m-4 md:text-[18px] bg-blue-700 md:pr-5 md:py-2 text-[14px] px-3 py-1 outline-none duration-200 hover:bg-blue-400">
                Register Now </button>
        </div>
      </div>
      <div class="card p-auto bg-[#232829] rounded-xl p-2 pb-16">
        <div class="card-animation h-[40vh]"> 
          <dotlottie-player src="https://lottie.host/67865aca-4640-4622-8b55-8a00493d5e41/LmkVZc5avl.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></dotlottie-player> </div>
        <div class="intro text-white p-2 text-center">
          <span>
            <h2 class="text-center md:text-3xl text-2xl mb-2 font-[400]"> 
              Event Name </h2></span>
            <p>Take the opportunity to explore the diverse design domains in our club and cultivate your aesthetics, access resources, and expand your portfolio.</p>
            <button style="display: inline-block" class="inherit text-center items-center rounded-full whitespace-nowrap m-4 md:text-[18px] bg-blue-700 md:pr-5 md:py-2 text-[14px] px-3 py-1 outline-none duration-200 hover:bg-blue-400">
                Register Now </button>
        </div>
      </div>
      <div class="card p-auto bg-[#232829] rounded-xl p-2 pb-16">
        <div class="card-animation h-[40vh]"> 
          <dotlottie-player src="https://lottie.host/896aba05-bb4c-473e-9ca3-d9846f45a6cd/nfK3H64fXe.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></dotlottie-player>
        </div>
        <div class="intro text-white p-2 text-center">
          <span>
            <h2 class="text-center md:text-3xl text-2xl mb-2 font-[400]"> 
              Event Name </h2></span>
            <p>Take the opportunity to explore the diverse design domains in our club and cultivate your aesthetics, access resources, and expand your portfolio.</p>
            <button style="display: inline-block" class="inherit text-center items-center rounded-full whitespace-nowrap m-4 md:text-[18px] bg-blue-700 md:pr-5 md:py-2 text-[14px] px-3 py-1 outline-none duration-200 hover:bg-blue-400">
                Register Now </button>
        </div>
      </div>
      <div class="card p-auto bg-[#232829] rounded-xl p-2 pb-16">
        <div class="card-animation h-[40vh]"> 
          <dotlottie-player src="https://lottie.host/75f57555-3bcd-413d-b1b4-1c0df95d8112/qaFWY8GsbM.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></dotlottie-player>  </div>
        <div class="intro text-white p-2 text-center">
          <span>
            <h2 class="text-center md:text-3xl text-2xl mb-2 font-[400]"> 
              Event Name </h2></span>
            <p>Take the opportunity to explore the diverse design domains in our club and cultivate your aesthetics, access resources, and expand your portfolio.</p>
            <button style="display: inline-block" class="inherit text-center items-center rounded-full whitespace-nowrap m-4 md:text-[18px] bg-blue-700 md:pr-5 md:py-2 text-[14px] px-3 py-1 outline-none duration-200 hover:bg-blue-400">
                Register Now </button>
        </div>
      </div>

    </div>
  </section>
  <section class="speakers-section"></section>
  <section class="merch-section"></section>
  <section class="pass-section"></section>
  {% block script %}
  <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 
  {% endblock %}
</main>
{% endblock %}
