{% extends 'base.html' %}
{% load socialaccount %}
{% load static %}
{% block title %}
Esummit 2024
{% endblock %}
{% block head %}
<!-- CSS files -->
<!-- <link rel="stylesheet" href="{% static 'base/css/home.css' %}"> -->
<link rel="stylesheet" href="{% static 'base/css/home.css' %}">
{% endblock %}
{% block content %}
<main>
    <section class="hero-section bg-grey-700 h-8"></section>
    <section class="about-section"></section>
    <section class="events-section"></section>
    <section class="speakers-section"></section>
    <section class="merch-section"></section>
    <section class="pass-section"></section>
</main>
{% endblock %}