{% extends 'base.html' %}
{% load static %}
{% block title %} E-Summit'25 {% endblock %}
{% block head %}
  <!-- CSS files -->
  <!-- <link rel="stylesheet" href="{% static 'base/css/home.css' %}"> -->
  <link rel="stylesheet" href="{% static 'base/css/home.css' %}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% comment %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDC | {% block title %} {% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'base/images/favicon.ico' %}" type="image/x-icon" id="faviconTag">
    <!-- Google font files -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <!-- Swiper css -->
    
    <!-- CSS files -->
    <link rel="stylesheet" href="{% static 'base/css/tailwind.css' %}">
    {% block head %}
    {% endblock %}
</head>
<body class="font-raleway overflow-x-hidden w-screen">
{% include 'snippets/navbar.html' %}
{% block content %}
<h1>Coming Soon! <h1>

{% endblock %}
{% include 'snippets/footer.html' %}
</body>
{% block script %}
    
{% endblock %}
    
</html> {% endcomment %}

{% block content %}
{% comment %}<section class="coming-soon section bg-[#282319] relative z-10 overflow-hidden" >
    <div class="comingsoon items-center bg-[232819] content flex mt-20 py-36">
        <h1 class="content text-4xl md:text-6xl font-bold text-orange-300 text-center text-shadow mx-auto">Coming Soon!<h1>
    </div>
</section> {% endcomment %}
<section id="glowSection" class="relative w-screen min-h-screen flex flex-col items-center justify-center p-4" 
    style="background: rgba(249, 128, 158, 1);">
    
    <h1 class="text-center font-extrabold uppercase" 
        style="color: #1e1e1e; font-family: 'Poppins', sans-serif; font-size: 40px; letter-spacing: 2px; text-shadow: 3px 3px 10px rgba(249, 128, 158, 0.5);">
        Coming Soon!
    </h1>

    <script src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>
    <dotlottie-player src="https://lottie.host/de2221b0-90a9-4cdb-adf1-e0404c1b9f19/ETPsBCsICP.lottie" background="transparent" speed="1" style="width: 250px; height: 250px" loop autoplay></dotlottie-player>

</section>

{% endblock  %}