{% load static %}
{% load socialaccount %}
<link rel="stylesheet" href="{% static 'base/css/tailwind.css' %}">
<nav class="fixed w-screen z-20 top-0 start-0 backdrop-blur-md">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
  <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src="{% static 'base/images/edc-logo.png' %}" class="h-8 px2" alt="EDC Logo">
  </a>
  <div class="buttons flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse md:w-[16vw]">
      <a href="https://esummit.edcnitd.co.in/merch" class=" md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse hidden md:flex">
        <button type="button" class="bg-gradient-to-tr from-yellow-600 to-yellow-200 text-[#282319]
        border-yellow-600  hover:opacity-80 duration-300 focus:ring-2 focus:outline-none focus:ring-yellow-700 dark:focus:ring-yellow-800-800 text-md :block border
          hover:text-black font-medium rounded-lg text-sm px-4 py-2 text-center ">Buy Merch</button>
      </a>
      <a href="{% url 'google_login' %}"class=" md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse hidden md:flex">
        <button type="button" class="border-yellow-600  hover:opacity-90 duration-300 focus:ring-2 focus:outline-none focus:ring-yellow-700 dark:focus:ring-yellow-800-800 mx-2 text-md :block border
        text-yellow-500  font-medium rounded-lg text-sm px-4 py-2 text-center ">Login</button>
      </a>
      <button data-collapse-toggle="navbar-sticky" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden" aria-controls="navbar-sticky" aria-expanded="false" onclick="document.querySelector('#navbar-sticky').classList.toggle('hidden')">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
    </button>
  </div>

  <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
    <ul class="flex flex-col p-4 md:p-0 mt-4 font-medium md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0  ">
      <li>
        <a href="#" class="block py-2 px-3 rounded md:bg-transparent text-yellow-500 md:p-0 text-center" aria-current="page">Home</a>
      </li>
      <li>
        <a href="https://edcnitd.co.in/" class="block py-2 px-3 text-yellow-100 rounded  hover:bg-transparent md:hover:text-orange-500 md:p-0 text-center">EDC</a>
      </li>
      <li>
        <a href="/coming-soon" class="block py-2 px-3 text-yellow-100 rounded hover:bg-transparent md:hover:text-orange-500 md:p-0 text-center">Passes</a>
      </li>
      <li class="md:hidden">
        <a href="https://esummit.edcnitd.co.in/merch" class="block py-2 px-3 text-yellow-100 rounded hover:bg-transparent md:hover:text-orange-500 md:p-0 text-center">Buy Merch</a>
      </li>
      <li class="md:hidden">
        <a href="#" class="block py-2 px-3 text-yellow-100 rounded hover:bg-transparent md:hover:text-orange-500 md:p-0 text-center">Login</a>
      </li>      
    </ul>
  </div>
  </div>
</nav>

<script src="{% static 'base/js/navbar.js' %}" defer></script>