{% extends 'base/base.html' %}
{% load static %}
{% block title%}
Question Detail View
{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<section class="min-h-screen bg-gradient-to-br from-zinc-900 to-blue-900 w-full grid place-items-center">
    <div class="grid place-items-center pt-16 w-full">
        <div class="rounded-md w-full max-w-5xl flex flex-col justify-center px-3">
            <div class="grid place-items-end py-4 rounded px-3 bg-center bg-cover bg-no-repeat origin-bottom w-full min-h-[80px] max-w-xl lg:max-w-screen-2xl mx-auto" style="background-image: linear-gradient(135deg, rgba(174, 23, 249, 0.604), rgba(0, 4, 22, 0.895)), url('{% static 'base/images/e-summit-black.png' %}');">
                <div class="flex flex-row w-full justify-between align-bottom">
                    
                    <li class="list-none flex justify-end flex-col text-right">
                        <h2 class="text-xl lg:text-4xl font-bold uppercase h-fit">ESUMMIT <span class="font-normal text-xl">Question Detail</span></h2>
                    </li>
                </div>
            </div>
            <div class="col-span-2 lg:col-span-4 bg-gradient-to-br from-zinc-500 border-2 border-white to-slate-700 px-3 py-3 mx-auto w-full rounded flex flex-col justify-between mt-8">
                <h2 class="text-center font-bold lg:text-2xl uppercase">Questions Details</h2>
                <h2>Question : {{question.value}}</h2>
            </div>
            <div class="col-span-2 lg:col-span-4 bg-gradient-to-br from-zinc-500 border-2 border-white to-slate-700 px-3 py-3 mx-auto w-full rounded flex flex-col justify-between mt-3">
                <h2 class="text-center font-bold lg:text-2xl">Responses Under Review</h2>
                {% if responses %}
                <table class="table-auto mx-auto w-[90%]">
                    <tr class="grid grid-cols-7 gap-3 font-bold tracking-widest">
                        <td>Gamer Name</td>
                        <td class="col-span-3">Answer</td>
                        <td>Reviewed</td>
                        <td>Points Given</td>
                        <td class="text-center mx-auto">Mark Answer</td>
                    </tr>
                    {% for response in responses %}
                        <tr class="grid grid-cols-7 gap-3 border-t-2 border-white pt-2">
                            <td>{{response.gamer.user.first_name}} {{response.gamer.user.last_name}}</td>
                            <td class="col-span-3">{{response.answer_recieved}}</td>
                            <td>
                                {% if response.reviewed %}
                                    Yes
                                {% else %}
                                    No
                                {% endif %}
                            </td>
                            <td>
                               {{response.points_recieved}}
                            </td>
                            <td class="flex flex-row justify-around gap-2 ">
                                <a href="{% url 'quiz:mark_answer_correct' response.id %}">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#fff" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                                      </svg>
                                      
                                </a>
                                <a href="{% url 'quiz:mark_answer_wrong' response.id %}">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#fff" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                                      </svg>
                                      
                                      
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                {% endif %}
            </div>

            <div class="col-span-2 lg:col-span-4 bg-gradient-to-br from-zinc-500 border-2 border-white to-slate-700 px-3 py-3 mx-auto w-full rounded flex flex-col justify-between mt-3">
                <h2 class="text-center font-bold lg:text-2xl">Responses Reviewed</h2>
                {% if reviewed_responses %}
                <table class="table-auto mx-auto w-[90%]">
                    <tr class="grid grid-cols-7 gap-3 font-bold tracking-widest">
                        <td>Gamer Name</td>
                        <td class="col-span-3">Answer</td>
                        <td>Reviewed</td>
                        <td>Points Given</td>
                        <td class="text-center mx-auto">Mark Answer</td>
                    </tr>
                    {% for response in reviewed_responses %}
                        <tr class="grid grid-cols-7 gap-3 border-t-2 border-white pt-2">
                            <td>{{response.gamer.user.first_name}} {{response.gamer.user.last_name}}</td>
                            
                            <td class="col-span-3">{{response.answer_recieved}}</td>
                            <td>
                                {% if response.reviewed %}
                                    Yes
                                {% else %}
                                    No
                                {% endif %}
                            </td>
                            <td>
                               {{response.points_recieved}}
                            </td>
                            <td class="flex flex-row justify-around gap-2 ">
                                <a href="{% url 'quiz:mark_answer_correct' response.id %}">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#fff" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                                      </svg>
                                      
                                </a>
                                <a href="{% url 'quiz:mark_answer_wrong' response.id %}">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#fff" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                                      </svg>
                                      
                                      
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                {% endif %}
            </div>
        </div>
        </div>
    </div>
</section>
<script src="{% static 'hunt/js/qr-handler.js' %}"></script>
{% endblock %}