<footer class="w-full flex px-4 py-3 flex-col gap-3 bg-zinc-900 font-raleway">
    <div class="max-w-5xl w-full mx-auto flex flex-col gap-3">
        <h2 class="text-center">Made by <a href="https://edcnitd.co.in/web_team" class="underline underline-offset-2">EDC Web Team</a></h2>
        <h2 class="text-center font-bold font-ubuntu-mono">For any problems or support please call <a href="tel:+919123782487" class="underline">+91 91237 82487 (Mehul Menon)</a></h2>
    </div>
    <div></div>
</footer>