/* .animation {
    height: 100vh;
    position: relative;
    background-size: cover;
    animation: move 10s linear infinite;
} */

/* @keyframes move {
    0% {
        background-position: 50vw 45vh;
    }

    100% {
        background-position: -50vw -60vh;
    }
} */

/* .show {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0);

} */
 .gradient{
    background-image: linear-gradient(0deg,  #ffc24d 0%, #2d1c43 100%);
}
.text-shadow {
    text-shadow: #00000080 0 3px 5px, #f3d69b73 0px -3px 5px;
}
.drop-shadow-var{
    filter: drop-shadow(0 2px 2px #ffd38075) drop-shadow(0 -2px 2px #291a3c77);
}
.neu{
    /* border-radius: 38px; */
    background: linear-gradient(145deg, #242017, #2b251b);
    box-shadow:  7px 7px 19px #1e1a13, -7px -7px 19px #322c1f;
}
.card:hover .intro {
    /* color: #292319; */
    transform: translate(0 , -100%);
    opacity: 1;
}

.card:hover .card-animation {
    translate: 0 -15%;
    scale: 75%;
}
.glow{
    filter: drop-shadow(0 -8px 5px #ffe0a776);
}
.effect{
    background-image: linear-gradient(to right, #282319, transparent, transparent, #282319);
}
/* .animation {
    height: 100vh;
    position: relative;
    background-size: cover;
    animation: move 10s linear infinite;
}

@keyframes move {
    0% {
        background-position: 50vw 45vh;
    }

    100% {
        background-position: -50vw -60vh;
    }
} */

/* .show {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0);

} */

/* footer */
/*  */
.footer {
    background-color: #2d281d;
    color: white;
    display: flex;
    width: 100%;
    padding-top: 50px;
}

.footer a {
    color: #FDE68A;
}

.leftFooter {
    width: 33%;
    padding: 40px;

    text-align: center;
}

/* .leftFooterContent {
    border-left: 5px solid #f7c605;
} */

.leftFooterContent h2 {
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
}

.leftFooterContent h3 {
    font-size: 15px;
    font-weight: 100;
    padding: 8px;
    font-weight: 600;
}

.leftFooter p {
    padding: 4px;
    font-size: 15px;
    line-height: 25px;
}

.fa-heart {
    color: red;
}

.middleFooter {
    width: 33%;
    padding: 40px;
}

.middleFooter h2 {
    font-size: 15px;
    padding-bottom: 8px;
    font-family: "Montserrat", sans-serif;
}

.middleFooter p {
    padding-top: 20px;
    font-size: 15px;
    line-height: 25px;
}

.socials {
    display: flex;
}

.circle {
    background-color: white;
    margin: 5px;
    padding: 2px;
    border-radius: 15px;
    height: 25px;
    width: 25px;
    align-items: center;
    justify-content: center;
}

.circle a {
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

.circle:hover {
    background-color: #FDE68A;
    cursor: pointer;
}

.socials i {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    width: 100%;
    margin: 3.5px;
}

.rightFooter {
    width: 33%;
    padding: 40px;
}

.rightFooter h2 {
    font-size: 15px;
    padding-bottom: 8px;
    font-family: "Montserrat", sans-serif;
}

.usefulLinks {
    padding-top: 20px;
    font-size: 15px;
    margin-left: 0px;
}

.rightFooter ul {
    list-style-type: circle;
    margin-top: 5px;
}

.usefulLinks a {
    text-decoration: none;
    color: white;
}

.usefulLinks a:hover {
    color: #FDE68A;
}

/* footer responsive */
@media only screen and (max-width: 970px) {
    .footer {
        flex-direction: column;
    }

    .leftFooter {
        width: 100%;
    }

    .middleFooter {
        width: 50%;
    }

    .rightFooter {
        width: 50%;
    }
}

@media only screen and (max-width: 600px) {
    .middleFooter {
        width: 100%;
    }

    .rightFooter {
        width: 100%;
    }
}

/*  */