
.form-group:has(:focus):not(.last) label , .form-group.highlight:not(.last) label{
    translate: 5px -30px;
    opacity: 1;
    scale: 1.2;
}
/* label {
    font-weight: bold;
    opacity: .8;
    position: absolute;
    top: 0;
    left: 0;
    translate: 10px 0;
    transition: .3s;
    scale: .8;
    transform-origin: left center;
}

input[type="text"], input[type="email"]{
    width: 100%;
    padding: 10px;
    background-color: transparent;
    border: none;
    padding-bottom: 5px;
    border-bottom: 1px solid #0000003b;
    outline: none;
    border-radius: 4px;
    box-sizing: border-box;
} */

.form-group:has(input):not(.last)::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    border-radius: 3px;
    background: linear-gradient(45deg, orangered,orange);
    transform-origin: left bottom;
    transition: .3s;
    scale: 0;
}
.form-group:has(:focus):not(.last)::after, .form-group.highlight:not(.last)::after{
    scale: 1;
}

.form-group.highlight.last>label{
    translate: 0 0 !important;
    opacity: 1;
    scale: 1.2;
}

.toggle:has(#from_college_yes:checked) ~ .outside, .toggle:has(#from_college_no:checked) ~ .college, .toggle:not(.highlight) ~ .college, .toggle:not(.highlight) ~ .outside{
    opacity: 0;
    height: 0;
    margin: 0;
}
.sc::-webkit-scrollbar {
    display: none;
}
.sc{
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}

button[type="submit"] {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background: linear-gradient(45deg, orangered, orange);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: .3s;
}

input[type="radio"]:checked + label{
    opacity: 1;
    color: goldenrod;
    font-weight: 700;
}
button[type="submit"]:hover {
    background: linear-gradient(-45deg,orange,orangered);
}